@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex h-screen font-helvetica;
}

* {
    @apply outline-none font-helvetica;
}

#root {
    @apply grow;
    @apply flex flex-col;
}

.Resizer {
    @apply cursor-col-resize;
}

.left-pane {
    background-color: #F6FAFB;
}

.font-arvo {
    font-family: 'Arvo';
}

.font-helvetica {
    font-family: 'Helvetica';
}

.input-bordered {
    @apply border-2 border-black rounded-md;
}

select.no-select-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
}